# Firebase
.firebase/
firebase-debug.log*
.firebaserc
firestore-debug.log*
ui-debug.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
# documentacion del proyecto
DOCUMENTACION_PROYECTO.md
DOCUMENCTACION.md

# Firebase Service Account Credentials
serviceAccountKey.json
**/serviceAccountKey.json
*.db
**/web_deria.db